@if (ViewData["result"] != null)
{
    <pre>@ViewData["result"]</pre>
}

@if (User.Identity.IsAuthenticated)
{
    <h3>Claims</h3>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
}