<h3>@ViewData["Message"]</h3>

@if (User.Identity.IsAuthenticated)
{
    <h4>Claims</h4>
    <dl>
        @foreach (var claim in User.Claims)
                {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    <button type="button" class="btn btn-default btn-lg btn-primary">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Call Protected API
    </button>

    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out
    </button>

    var roleClaim = User.Claims.SingleOrDefault(claim => claim.Type == "role");
    if (roleClaim != null && roleClaim.Value == "admin")
    {
        <h3>
            <span class="label label-info">You are admin, you can see the list of registered users:</span>
        </h3>
    }
}
else
{
    <h3>
        <span class="label label-danger">You are not authenticated, login please.</span>
    </h3>
}


