@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div>
    <a class="btn btn-primary" href="~/api/Data/Public">Call API - public</a>
    <a class="btn btn-primary" href="~/api/Data/Secret">Call API - private</a>
</div>